<!DOCTYPE html>

<head>
    <title>Welcome in first Flask app</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

</head>

<h1>Hello World!</h1>

<body>

<div>
    <p>Enter your name:</p>

    <form class="pure-form" method="POST" action="/">
    Name:<br>
    <input type="text" name="username"><br>
    <button class="pure-button pure-button-primary">Submit</button>
    </form>
</div>   

</body>
